<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index-1</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body style="background-color: rgb(85, 85, 85)">
    <h1
      style="
        display: grid;
        align-content: center;
        place-items: center;
        margin-top: 15rem;
      "
    >
      <span>Html testing working</span>
      <br />
      <p class="tesingcss">
        this is the css styling you see here if it's plain it's not working
      </p>
    </h1>
  </body>
</html>
